[2018-06-25 14:49] om26er opened #419 "Remove Android dependency from WebSocket implementation"
* Make the implementation modular to support multiple environments

Our current dependence on Android is for messaging between Reader/Writer WebSocket threads and notifying the main(UI) thread about those. With refactoring we can make the messaging modular, allowing for use on both Android and non-Android platforms.

Advantages include minimizing the number of bugs and the reduction of maintenance

[2018-06-25 15:24] #417 closed

[2018-07-17 12:47] long76 commented on #286
@oberstet i agree, move to kotlin!)))

[2018-08-14 08:18] jurjen96 opened #420 "Autobahn-Java on Android Connection Timeout"
When we try to set up a WAMP connection between Android Java (using autobahn-java) and the Nexus router, we receive the following output from the router:

[code]

In the Android console:

[code]
We received the error message of 'timeout waiting for message' after 5 seconds when the Android application tries to connect to the router. When we use the Crossbar router, we get a successful connection b

[2018-08-14 08:51] #420 closed

[2018-08-14 17:08] animaonline opened #421 "onMessage catch swallows the exception on empty messages"
This is easily reproduced, whenever the server returns an empty message, messageKlass.getMethod throws an exception, leaving the CompletableFuture.whenComplete hanging.

Is there a way around this bug?

[2018-08-14 17:25] animaonline commented on #421
Well, I could provide an example, but the issue would still be there, the exceptions should not be swallowed.

As for the "empty message", it's basically a message that does not have any args (kw and regular ones)

[2018-08-14 17:26] oberstet commented on #421
as said, what router etc. is important to track this down. otherwise: PRs are welcome;)

[2018-08-17 05:27] ejChathuranga opened #422 "AndroidRuntime: FATAL EXCEPTION: main"
To download via Gradle we can use
[code]
But after synced and run over the real device( Mi A1, OS 8.0.0 ) before starting the app, means when app lunching occurs error. The logcat will shows below. Is there any special configurations for add autobahn java into my project??

`08-17 10:50:55.522 16010-16010/com.venusit.ej.autobahntest E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.venusit.

[2018-08-17 07:15] #422 closed

[2018-08-17 08:49] yuhaoz commented on #99
the spring boot websocket use  stomp protocol,so here is the way  https://github.com/NaikSoftware/StompProtocolAndroid

[2018-08-17 08:57] om26er commented on #422
@ejChathuranga The issue is not with autobahn-java, rather its your app that's having the issues. Please clean the project and rebuild and it should be good.

The current error is that app does not find your MainActivity.

[2018-08-20 07:42] animaonline commented on #421
We're using Crossbar.io, I suppose that's the router? :)

[2018-08-23 16:57] oberstet commented on #421
cannot reproduce

[2018-08-23 16:57] #421 closed

[2018-08-27 05:57] dolgovnv opened #423 "Why empty callerSessionID?"
https://github.com/crossbario/autobahn-java/blob/ada3df5f5ad41418d60a623ebb384313aa0e9939/autobahn/src/main/java/io/crossbar/autobahn/wamp/Session.java#L448

Is it possible to get the callerSessionID when calling the procedure? Now callerSessionID = -1, callerAuthID = null, callerAuthRole = null.

[2018-08-27 09:38] #423 closed

[2018-09-21 04:05] j796160836 commented on #76
I think that google use the version 1 of the autobahn wrapped into jar and into its repository.
https://github.com/crossbario/autobahn-java/tree/version-1
Just use that jar will be ok. (Just some legacy code.)

[2018-10-03 02:28] PushyZqin opened #424 "Autobahn-java still only support WAMP1 now？"
I try connect WAMP server：

[code]

but throw some error：

[code]

Is autobahn-java only support WAMP1 or other configuration required?

[2018-10-03 10:15] ejChathuranga opened #425 "Client side - URI Issue - Not getting whole URI into the request"
My WSS URI and PORT: wss://xxxxxx-xxxxxx.maindomain.com/websocket:9050

When I'm using `wss://echo.websocket.org` URI, It's sending the request to the server and return only 200. When I debugged I found, `InetAddress` class have been used in `(new InetSocketAddress(mWsHost, mWsPort)).getAddress().getHostName())` and will return HOST name as `echo.websocket.org`.

My server is configured WS for `xx

[2018-10-16 16:08] oberstet commented on #425
just provide the complete URL to connect, as `wsUri` is parsed into `mWsPath`

https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/io/crossbar/autobahn/websocket/WebSocketConnection.java#L326

and that is used in the websocket opening handshake as well:

https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/io/crossbar/autobahn/websocket/WebSocke

[2018-10-16 16:08] #425 closed

[2018-10-22 11:19] ejChathuranga commented on #425
I used my complete
URL: wss://xxxxxx-xxxxxx.maindomain.com/websocket
Port: 9050

Then it's take `mWsUri = wss://xxxxxx-xxxxxx.maindomain.com/websocket:9050`
and `mWsPath =  /websocket:9050`

Then it's return those debugs.
`D/NetworkSecurityConfig: No Network Security Config specified, using platform default`
`D/io.crossbar.autobahn.websocket.WebSocketConnection: fail connection [code = 2, reason =

[2018-10-23 07:19] jellisgwn commented on #415
@om26er will you be creating a new release to pick up recent changes? i expect to be picking up on autobahn-java shortly and would like to pick up the changes made during the summer in a new release.

[2018-11-02 05:48] ejChathuranga commented on #425
After changing URI it's connected.
Follow [RFC6455 sec-3](https://tools.ietf.org/html/rfc6455#section-3)
New URI: wss://xxxxxx-xxxxxx.maindomain.com:9050

[2018-11-02 05:58] ejChathuranga opened #427 "mSocket.getOutputStream() is not responding"
After connecting to the socket will create `WebSocketReader` fro read the connected socket.
When creating reader it will try
`mBufferedStream = new BufferedInputStream(mSocket.getInputStream(), mOptions.getMaxFramePayloadSize() + 14);`

In here, `mSocket.getInputStream()` part is not responding. When I debugged the whole process is stopped from there and no any exception or any log.

URI: `wss://x

[2018-11-02 07:36] #427 closed

[2019-01-31 10:01] dolgovnv opened #428 "Handling large data"
When passing a collection of objects through the library, an exception is thrown:

`com.fasterxml.jackson.databind.JsonMappingException: Unexpected end-of-input in VALUE_STRING`

As I found out during debugging, an error occurs because the original message is split into 2 fragments and when the first one is received, an deserialization is attempted, which fails

https://github.com/crossbario/autob

[2019-02-01 05:12] dolgovnv commented on #428
The problem was in the wrong configuration of the service in the docker.

[2019-02-01 05:12] #428 closed

[2019-02-20 12:41] jellisgwn opened #429 "Create new Maven release"
Some bugs were fixed last year that haven't made it out into a release. Can a new release be pushed to Maven?

[2019-02-20 12:43] jellisgwn commented on #429
Hi @om26er, raised this with @oberstet in the Gitter Chat and he suggested coming to you.

[2019-02-20 18:28] om26er commented on #429
@jellisgwn yes, I'll look into this, curious to know, is there a specific bug fix you are interested in ?

[2019-02-21 07:28] jellisgwn commented on #429
@om26er thanks. yep, specifically these:

https://github.com/crossbario/autobahn-java/issues/412
https://github.com/crossbario/autobahn-java/issues/417

[2019-03-06 18:20] yashovardhan99 commented on #420
@oberstet I am facing the same issue. We have a server deployed on Heroku and trying to connect to it through android, I get the same error that they got. Is there a fix I am missing somewhere?

[2019-03-06 18:42] om26er commented on #420
@yashovardhan99 I followed through this specific issue with Nexus router and it seems its no longer happening https://github.com/gammazero/nexus/issues/146#issuecomment-463051456

Could you please report a new issue and we can start the conversation there ?

[2019-03-09 07:06] oberstet commented on #429
@om26er any news?

[2019-03-09 09:54] oberstet opened #431 "Support NaCl SealedBox"
This issue is about the first step of supporting WAMP-cryptosign and XBR in AutobahnJava, which is integrate a NaCl library to that we can implement the former.

Ultimately, we want an ABJ equivalent of the code here:

* https://github.com/crossbario/autobahn-python/blob/master/autobahn/wamp/cryptosign.py
* https://github.com/xbr/xbr-protocol/blob/master/xbr/_buyer.py
* https://github.com/xbr/xbr-

[2019-03-09 09:58] om26er commented on #429
@oberstet 19.3.1 is now published, should take a few hours for it to sync everywhere. Will do release announcement later.

[2019-03-09 10:10] oberstet commented on #429
oh, cool! thanks!

[2019-03-09 10:10] #429 closed

[2019-03-09 10:17] om26er commented on #431
yes, we do support CryptoSign in autobahn-java today, using https://github.com/joshjdevl/libsodium-jni, I just peaked into its source and it seems it doesn't implement SealedBox as well.

Regarding `lazysodium`, it seems fine, though is maintained by a single person, so wonder what happens if the person loses interest.

Here is our CryptosignAuth impl: https://github.com/crossbario/autobahn-java/b

[2019-03-09 10:37] oberstet commented on #431
ahhh, right .. I forgot! cool=) so we have a NaCl library already integrated, and we only need to find out how to use `SealedBox` - or how work with upstream of https://github.com/joshjdevl/libsodium-jni to support it.

[2019-03-09 12:15] oberstet commented on #151
this is fixed for long - other the the 3 remaining sub-issue: won't fix (for now)

[2019-03-09 12:15] #151 closed

[2019-03-09 12:16] oberstet commented on #149
I think we have that (websocket examples that run on the new code base) ..

[2019-03-09 12:16] #149 closed

[2019-03-09 12:17] oberstet commented on #213
won't fix: no concrete need for that now

[2019-03-09 12:17] #213 closed

[2019-03-09 12:18] oberstet commented on #415
release v19.3.1 is published

[2019-03-09 12:18] #415 closed

[2019-03-09 20:11] yashovardhan99 opened #432 "getOrDefault in WebSocketConnection.java always returns the default value"
In [line 646](https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/io/crossbar/autobahn/websocket/WebSocketConnection.java#L645) of the file [WebSocketConnection.java, ](https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/io/crossbar/autobahn/websocket/WebSocketConnection.java)

    String protocol = getOrDefault(serverHandshake.headers,

[2019-03-09 20:14] yashovardhan99 commented on #420
@om26er I have found the root cause of this issue (at least for my case). Please see #432

[2019-03-09 20:17] om26er commented on #432
@yashovardhan99 I can look into the issue, can you tell if the issue you are seeing only happens when using Nexus router or do you see that issue with Crossbar as well ?

A blind guess: It could be that `Sec-WebSocket-Protocol` is in lower cases in your router ?

[2019-03-09 20:24] yashovardhan99 commented on #432
@om26er we're using crossbar. And I checked the case, it's the exact match. I know this sounds strange but yeah, this happened.

[2019-03-09 20:31] om26er commented on #432
Could please some sample code that I could use to reproduce that issue ? More information about your setup would be useful as well i.e. version number of autobahn-java, crossbar, your OS etc.

[2019-03-09 20:40] yashovardhan99 commented on #432
@om26er I'll share some sample code and logs with you tomorrow (it's past 2 am here:)

This issue seems to happen in both the latest and the 2nd latest version of the library. I had downloaded the zip of your latest release v19.3.1 to debug this issue. The mobile OS - Android Pie (Absurd 9.0 and also on Android N)

[2019-03-22 20:18] om26er commented on #431
FYI, the upstream proposal lives here https://github.com/joshjdevl/libsodium-jni/pull/127

[2019-04-02 05:48] jellisgwn opened #433 "NettyWebSocket leaks it's NioEventLoopGroup resources on connection failure"
If you attempt to connect to a crossbar that isn't listening, or fail to connect for another reason, the NettyWebSocket leaks socket / stream resources associated with the NioEventLoopGroup. If the application is persistently attempting reconnection, and the issue is not resolved, the process will eventually run out of file handles.

As each call to NettyWebSocket creates a new NioEventLoopGroup,

[2019-04-02 06:00] jellisgwn commented on #433
I'm not at all sure if this is an appropriate fix, but it's what worked...

[code]

[2019-04-12 20:14] om26er commented on #431
Closing this, we do have SealedBox in now. Also have some of the XBR stuff as well.

[2019-04-12 20:14] #431 closed

[2019-04-16 20:38] om26er commented on #432
@yashovardhan99 Hello! Is there an update on that, do you think we can close this issue ?

[2019-04-22 09:48] oberstet opened #437 "XBR simple seller"
ABJ should support XBR (in general), and provide the analogue of the Python XBR library simple XBR seller for easy use in applications:

* https://github.com/xbr/xbr-protocol/blob/master/xbr/_seller.py

[2019-04-22 09:48] oberstet opened #438 "XBR simple buyer"
ABJ should support XBR (in general), and provide the analogue of the Python XBR library simple XBR buyer for easy use in applications:

* https://github.com/xbr/xbr-protocol/blob/master/xbr/_buyer.py

[2019-04-22 09:54] oberstet commented on #419
we have other fish to fry;) seriously, our own WebSocket implementation for Android does work great - as does Netty/WebSocket. And both are completely hidden (apart from initial connection setup, which is fine) from the user eg when writing a WAMP app. won't fix for now

[2019-04-22 09:54] #432 closed

[2019-04-22 10:02] oberstet commented on #257
we should support TLS client connection options - which as a subproblem includes accepting self-signed certificates.

it is not a websocket options thing though, and it might also very well differ in how it is done in Android vs Netty

fwiw, related: https://github.com/crossbario/autobahn-java/issues/374

[2019-05-06 07:48] jellisgwn commented on #433
@om26er / @oberstet can someone take a look at this? despite the changes above resolving the issue for me locally, i can't shake the feeling that something more fundamental is missing in the connection handling... but i don't have a design in my head to work towards the right solution.

[2019-05-15 04:30] pkyad commented on #238
By any chance is it possible to use WebSocketOptions with this to adjust the setReconnectInterval

[2019-06-29 13:14] dragossusi opened #441 "Ethereum"
why is there ethereum dependency used? i start to doubt this dependency

[2019-07-01 08:28] oberstet commented on #441
The dependency is there because AutobahnJava implements XBR https://xbr.network/ on top of WAMP

[2019-07-01 08:28] #441 closed

[2019-07-02 08:11] jellisgwn commented on #433
@oberstet has development stopped on autobahn-java? I've not seen any announcements, but it would be useful to know if this is project is not going to continue to move forward...

[2019-07-02 08:15] om26er commented on #433
@jellisgwn Hey! the project is active and we do have plans for it going forwards as well. Recently we have been busy with other stuff.

I'll look into this issue...

[2019-07-02 08:15] oberstet commented on #433
sure, this project continues .. currently active development has shifted to adding support for XBR (https://xbr.network/) to ABJ - but shaking out bugs like this too.  @om26er could you have a look?

[2019-07-02 08:31] jellisgwn commented on #433
@om26er, @oberstet that's great to hear! I was not looking forward to having to find another solution :)

[2019-07-17 14:22] #433 closed

[2019-07-22 20:42] hetzge opened #444 "Subscriber Black- and Whitelisting ?"
I am looking for the Whitelist / Blacklist feature when publishing to a topic (https://crossbar.io/docs/Subscriber-Black-and-Whitelisting/).
Is it correct that this feature is not available in the java client ? Is it planned to implement it ?

[2019-07-23 07:17] oberstet commented on #444
Yes, this is currently missing. Would be easy though;) As far as as I see, adding the feature is a couple of lines in two places:

* https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/io/crossbar/autobahn/wamp/types/PublishOptions.java
* https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/io/crossbar/autobahn/wamp/Session.java#L885

[2019-08-08 15:30] robfra31 opened #447 "Configuration of MsgPack with Autobahn Java"
Hello
I would like to know how the configuration of the Serializer (MsgPack or JSON) is made when using Autobahn Java ?
Is it a configuration of my WAMP server (e.g: the Nexus router) or a configuration to do in Autobahn ?
I am connecting my class to the WAMP server (which is a Nexus WAMP) with:

public void main() {
    Session session = new Session();
    session.addOnJoinListener(this::demonstr

[2019-08-08 15:41] om26er commented on #447
The client library (autobahn) sends a list of serializers that it supports, the router then decides which serializer it wants to select and replies that to the client on the initial connect.

Currently autobahn-java has a default list of supported serializers that itoffers](https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/io/crossbar/autobahn/wamp/transports/AndroidWe

[2019-08-08 15:41] #447 closed

[2019-08-12 15:41] a-sky opened #448 "SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure"
javax.net.ssl.SSLProtocolException: SSL handshake aborted: ssl=0xabb012d0: Failure in SSL library, usually a protocol error
error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure (external/openssl/ssl/s23_clnt.c:765 0xedbdcbe1:0x00000000)

[2019-08-13 07:08] #448 closed

[2019-09-12 12:20] oledjiks opened #449 "run authentication example as part of CI"
Trying to log in to the server via wampcra on the wamp server, when attempting to authorize in the log error:###  Left reason = wamp.error.authorization _ failed, message = invalid password, though via autobahn-python everything works fine, password correct. Here is my authorization code:
[code]

[2019-09-16 08:38] zorouyang opened #450 "Android first connect normal, reconnect interaction only once LOST reason:AutoPing timed out"
Launch app > connect wss://,  sendMessage and onMessage HB normal.
Background stop the websocket and Resume reconnect again.  just only once send/received message HB. called CONNECTION_LOST reason:AutoPing timed out.

[2019-09-16 09:22] om26er commented on #450
Could you please share the code that I could use to reproduce that issue ?

[2019-09-17 01:36] zorouyang commented on #450
Thanks for your quick reply.
I found the cause of the problem, and Hb caused the connection to break immediately after opening. Delay returned to normal.
I guess it's the problem that our server handles, which embarrasses me.

Thanks a lot, again.

[2019-09-17 01:36] #450 closed

[2019-09-17 08:47] zorouyang opened #451 "I fork your source code and fixes/extend some bug/support. The compiled APK is very large."
I fork your source code and fixes/extend some bug/support.
I posted it to jitpack, but it's very big. It increases by 17+M. How do you generate libraries for Android and guarantee size? Of course, I can also submit the code to your library, and then can you pack a new version for me? Please help me, thank you.

[2019-09-17 08:53] oberstet commented on #451
thx! yeah, pls file issues and PRs on this repo

[2019-09-17 09:12] zorouyang commented on #451
Hi, I pull request a "Fixes bug" #452 , please check. thanks.

[2019-09-18 03:35] zorouyang opened #453 "When connecting, canot close the connection and callback open"
When connecting, sendClose canot work. And callback open isConnected()=true or false.

[2019-09-27 10:53] om26er commented on #437
Starting on this now...

[2019-10-01 22:33] om26er opened #455 "web3j upstream hasn't released latest version for android"
Mainly due to lack of resources they haven't released newer version of web3j-android https://github.com/web3j/web3j/issues/1030

Support for EIP712 was added in versions that are not yet released for android. Need to investigate if we can copy-pasta the required functionality from this PR for now https://github.com/web3j/web3j/pull/911

[2019-10-02 08:25] oberstet commented on #455
yeah, agree, if it makes sense, I'm cool with temporarily copying over the bits we need (above PR .. essentially 3 months old;). And once a new release is done upstream, we might eventually use that again ..

[2019-10-16 08:38] oberstet commented on #444
* exclude_authid
* exclude_authrole
* eligible_authid
* eligible_atuhrole

[2019-10-16 08:43] #357 closed

[2019-10-16 08:46] oberstet commented on #337
cannot reproduce (anymore) .. pls provide a reproducing example if you still run into this ..

[2019-10-16 08:46] #337 closed

[2019-10-16 08:46] #288 closed

[2019-10-16 08:57] oberstet commented on #286
won't fix: for now we won't move to kotlin -- ABJs APIs would need to be massivel changed

[2019-10-16 08:57] #286 closed

[2019-10-16 08:58] oberstet commented on #257
see also https://github.com/crossbario/autobahn-java/pull/452

[2019-10-16 09:01] #206 closed

[2019-10-16 09:03] #132 closed

[2019-10-16 09:05] #125 closed

[2019-10-16 09:12] oberstet commented on #9
see https://github.com/crossbario/autobahn-python/blob/master/autobahn/websocket/protocol.py#L3642

[2019-10-16 09:13] #143 closed

[2019-10-16 09:15] oberstet commented on #449
we have a working example for WAMP-CRA auth here: https://github.com/crossbario/autobahn-java/blob/master/demo-gallery/src/main/java/io/crossbar/autobahn/demogallery/AuthenticationExampleClient.java

could you try that and see if it works for you?

[2019-10-16 09:20] oledjiks commented on #449
Hi, I have the following code in the android app in which I try to connect to the server via wamp-cra, when trying to connect the server gives out an error that is not the correct password

CODE:
try {
Session session = new Session();
session.addOnConnectListener(this::onConnectCallback);
session.addOnJoinListener(this::onJoinCallback);
session.addOnLeaveListener(this::onLeaveCallback);
session.ad

[2019-10-16 09:51] oledjiks commented on #449
this example not work for me((

[2019-10-17 21:44] om26er opened #456 "CI: Run websocket tests"
We should run websocket tests as part of the CI

[2019-10-18 08:01] oledjiks commented on #449
Tell me please, maybe there are some working examples under android to connect with wamp-cra?

[2019-10-18 12:01] oberstet commented on #449
what exactly does not work?

`invalid password` in the log gives a hint;)

also: what router? if crossbar, pls include output from `crossbar version` ..

[2019-10-18 12:11] oledjiks commented on #449
the password is valid, I have a client on a python using a crossbar that also via wamp-cra connects to the same router without problems. Router - modified turnpike library implementation on golang

my working python code example:

import asyncio
from autobahn.asyncio.wamp import ApplicationSession, ApplicationRunner
from autobahn.wamp import auth
from pprint import pprint
USER = 'user'
USER_SECRET

[2019-10-18 12:31] om26er commented on #449
Works for me, here is the code that I used in android to test
[code]
And here is the config
[code]

[2019-10-21 16:58] om26er commented on #437
Seller is done in principle, any gaps will be addressed on need basis when working on the Markets App.

[2019-10-21 16:58] #437 closed

[2019-10-26 22:56] om26er opened #457 "authrole is not announcement on HELLO"
The Hello.java constructor does not take authrole as a parameter https://github.com/crossbario/autobahn-java/blob/dc91b5a48a8cb459de5bab74f5a043e4ee1e6154/autobahn/src/main/java/io/crossbar/autobahn/wamp/messages/Hello.java#L72 -- We also need to update our authenticators to support `authrole`

[2019-10-27 20:51] #457 closed

[2019-11-05 19:31] SergeyLukashevich opened #459 "Invalid webSocketURL error is ignored at connect"
Running client.connect() with a wrong webSocketURL defined for a client doesn't cause an error, as expected.

Example:
[code]
I see that error is in a method `Client::connect(TransportOptions options)`:

[code]
Connection is performed asynhronously, but raised CompletionException is lost, as soon `runAsync`
result is unused.

[2019-11-05 19:44] om26er commented on #459
Thanks for reporting this issue, I have verified the bug and understand the cause for it, I will propose a fix for that soon.

[2019-11-05 19:59] om26er commented on #459
I have a fix here https://github.com/crossbario/autobahn-java/pull/460

[2019-11-05 20:10] om26er commented on #459
Sorry, I wrote too soon, that code path did have an issue that I fixed in https://github.com/crossbario/autobahn-java/pull/460 but its likely different from what you are seeing. Even without the changes that I proposed, I am not able to reproduce the exact issue that you are seeing as I rightfully see the stacktrace.

Could it be a Kotlin oddity ?

[2019-11-05 20:15] om26er commented on #459
Here is a Java method that seems to work as expected
[code]

[2019-11-05 20:52] SergeyLukashevich commented on #459
Sorry, it's my fault. I'm using the version 18.5.1 that is defined in README.md, not the recent one.

[2019-11-05 20:52] #459 closed

[2019-11-29 09:55] workingintheblackforest opened #461 "Message validation for Result is incorrect"
Problem:
Result::parse currently calls `MessageUtil.validateMessage(wmsg, MESSAGE_TYPE, "RESULT", 4, 6);`. This is [incorrect according to the spec](https://wamp-proto.org/_static/gen/wamp_latest.html#result-0).

Result:
Validation for RPC result messages without result payload/data fails, message is lost

Fix:
Call with correct parameters: `MessageUtil.validateMessage(wmsg, MESSAGE_TYPE, "RESULT"

[2019-12-18 06:23] UCodeUStory opened #462 "How to add a header"

[2019-12-19 10:20] #462 closed

[2020-01-05 13:41] azamat-sharapov opened #463 "POJOCallExamples::callResultListPOJOs does not work"
I tried using RPC call example, where result should be List, but it didn't work. After some research, I see it's actually [known bug](https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/io/crossbar/autobahn/wamp/Session.java#L332). By deleting `.get(0)` from file 335, I got it working, but that probably breaks other use cases. If such bugs are know, I think you should ad

[2020-01-07 12:25] oberstet commented on #463
This seems bad in multiple ways, agreed. sorry to waste your time=( we actually do want to make it work too for this case .. needs some investigation/thinking ..

[2020-01-14 08:57] andzejsw commented on #290
Any progress on this?

[2020-01-14 09:34] oberstet commented on #290
sorry to say: it's not a priority and we don't have the resources to support that "officially". for one, it would require another release channel, and more so, I'd expect that the shim that @om26er used to make it work on android <7 only works somewhat (will trigger issues, and hence work, down the line) ..

we support Android 7+  (well, and Java8/Netty of course) and we should clearly state that

[2020-01-29 17:25] om26er commented on #438
So I forgot that I had implemented that partially (or mostly), would need to clean up and fix minor gaps here and there to call it "done" https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/xbr/network/SimpleBuyer.java

[2020-01-30 08:56] oberstet commented on #438
ah, cool=) sounds good: cleanup etc ... let's keep the issue open until then

[2020-02-09 21:13] om26er commented on #438
The buy is now working and landed https://github.com/crossbario/autobahn-java/pull/470 -- For any improvements, we'll open new issues

[2020-02-09 21:13] #438 closed

[2020-02-10 07:07] oberstet opened #472 "XBR: add ABJ to cross-language example"
ABJ now supports both the XBR seller and buyer roles

* https://github.com/crossbario/autobahn-java/issues/438
* https://github.com/crossbario/autobahn-java/issues/437

There also is an example here https://github.com/crossbario/autobahn-java/tree/master/demo-gallery/src/main/java/io/crossbar/autobahn/demogallery/xbr

---

What we would like to demonstrate (have an example for) is the ability of X

[2020-02-10 13:05] om26er opened #474 "onUserError not implemented"
The ABJ does not implement the onUserError, while we have the signature on the Session class, we don't really hook that to anything. https://github.com/crossbario/autobahn-java/blob/9d08106e43346297f603fbae1cee3076f57a22eb/autobahn/src/main/java/io/crossbar/autobahn/wamp/Session.java#L1377

[2020-02-10 13:12] oberstet commented on #474
ok, yeah, we actually fire the listeners collected in `addUserErrorListener`;) there will be multiple locations where we have to add firing the hook .. best in probably to look at the twisted ABPy and component ABPy implementations ..

[2020-02-10 13:25] om26er commented on #474
It seems Component API does not implement/expose onUserError. Also for Java, it may make sense to give the "user error" in the `exceptionally` clause of the CompletableFuture. That way developer's will know the context where the issue is coming and subsequently better handle it.

[2020-03-31 10:50] lujx1024 opened #478 "Crash on Android when try to connect an websocket server not initialized"
#Here is the problem I encountered,when I try to established a connect to the websocket server,of course the client app runs on android,I have read all the issues and googleed for answer ,found nothing ,the connect code like this
[code]
when the server is not initialized or the host url is wrong(but is a valid url),the app is crashed,and the  crash reason is NullPointException,like this
[code]
I d

[2020-03-31 16:25] om26er commented on #478
Thanks for reporting that issue. Can you check which version of `autobahn-android` you are using ? Looking at the stacktrace it seems you might be using an old version of the library. That specific issue that you reported was most likely fixed by https://github.com/crossbario/autobahn-java/pull/473/files

[2020-03-31 16:30] om26er commented on #478
Version `20.2.1` fixed that issue. Please add that line to your project's gradle config.
[code]

[2020-04-01 01:52] lujx1024 commented on #478
thanks for your advise ,I used the 20.1.1 version I read from README file,after I change to 20.2.1,I got an onClose callback and a close reason matched CLOSE_CANNOT_CONNECT defined at the IWebSocketConnectionHandler. well , this may cause another problem, in this circumstance,normally I should wait some time and recall the connect method scheduled until the server is completely initialized and run

[2020-04-13 12:04] lujx1024 commented on #478
i avoid this error by use some strateges,thanks for your support

[2020-04-13 12:05] #478 closed

[2020-04-23 03:06] roybill opened #480 "How does android add parameters?"

[2020-04-23 03:39] #480 closed

[2020-05-09 16:09] #419 closed

[2020-05-28 20:19] om26er opened #484 "Remove legacy support"
We don't need the legacy support script anymore. Android Studio 4.0 enables old Android versions to use CompleteableFuture, so we can now support them without any scripts/hackery. Without any maintenance effort.

See https://developer.android.com/studio/releases#4-0-0-desugar

[2020-05-28 21:24] om26er commented on #484
Sorry that was a false alarm. While Android Studio 4.0 did enable more Java8 APIs in Android, some are still missing for us to complete the transition. Some APIs for `java.util.concurrent` are supported but not all (yet). We'll revisit this once that's the case. I opened an issue for that with the upstream https://github.com/google/desugar_jdk_libs/issues/5

[2020-06-04 14:10] oberstet opened #486 "release v20.6.1"

[2020-06-24 07:31] jellisgwn opened #489 "Vulnerable Dependencies"
The following dependencies / versions have open CVEs against them:

- com.squareup.okhttp3 : logging-interceptor @ 3.8.1

http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2018-20200 (disputed, see https://github.com/square/okhttp/issues/4967)

- org.java-websocket : Java-WebSocket @ 1.3.8 (

http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-11050

- org.msgpack : msgpack-core @ 0.8.16

h

[2020-06-24 07:54] jellisgwn commented on #486
It might be good to evaluate #489 before releasing.

[2020-06-24 08:01] om26er commented on #486
@jellisgwn 20.6.1 is already released. We could do another release if needed to update those dependencies.

[2020-06-24 08:01] #486 closed

[2020-06-24 08:04] om26er commented on #489
We dont directly depend on
* com.squareup.okhttp3 : logging-interceptor
* org.java-websocket : Java-WebSocket @ 1.3.8

They might be getting pulled by some other packages. What we could do is to ensure to update all deps to their latest versions.

msgpack and netty, do have newer versions.

[2020-06-24 08:07] jellisgwn commented on #486
@om26er interesting... it hasn't updated the releases page so that wasn't obvious to me.

[2020-06-24 08:11] om26er commented on #486
That is indeed interesting, I had pushed the tag https://github.com/crossbario/autobahn-java/releases/tag/v20.6.1 but it indeed didn't get "promoted" as a new release on this page https://github.com/crossbario/autobahn-java/releases. Wonder what could have caused that

[2020-06-24 08:14] jellisgwn commented on #489
Correct. Perhaps this is useful:

[code]

The bad news on that front is that the latest web3j-core has not updated it's Java-WebSocket dependency.

We're not using any of the "Etherium Client" integration, but that doesn't stop it being flagged by OWASP Dependency Check :(

[2020-06-24 08:16] jellisgwn commented on #486
Not sure. The front page of the project also still shows the latest release as 20.2.1... makes it hard to identify a new release!

[2020-06-24 08:18] om26er commented on #486
I have now created a new release manually. Should be good now. For the next version, I will ensure that to not happen again

[2020-06-24 12:58] oberstet commented on #489
hhm, argh. I agree, this sucks. we should do sth about it ..

yes, definitely! for _every_ release of ABJ .. for all dependencies. the default rule should be: "always bump deps to latest upstream version"

is there a way to create a dependency tree for java packages like ABJ? is there a way to create a list of deps-of-deps (recursive)? eg we have that for ABPy ...

[2020-06-24 13:13] jellisgwn commented on #489
@oberstet the complete tree of dependencies for any maven project can be generated with the maven dependency plugin's 'dependency:tree' target:

https://maven.apache.org/plugins/maven-dependency-plugin/tree-mojo.html

the output posted above is generated using that method.

how you'd do something similar for ABJ using gradle i don't know.

[2020-06-29 09:01] oberstet commented on #489
@om26er so deps are refreshed now via #490 - should we push a v20.6.2 and ship it?

[2020-07-15 11:48] azamat-sharapov commented on #432
I was having similar problem today. In my case, I'm using [Caddy](https://caddyserver.com/) as a server, which proxies requests to [nexus router](https://github.com/gammazero/nexus). Problem was that Caddy returns HTTP headers in different case, instead of `Sec-WebSocket-Protocol`, it returns `Sec-Websocket-Protocol` (notice lowecase S). I came to conclusion, that it's autobahn-java problem, becau

[2020-07-15 12:38] oberstet commented on #432
yes, this is wrong: HTTP header keys are case insensitive

yeah, I can see how this works, and actually I think this is a good place to add normalization to lowercase for those headers! straight forward. @om26er I think we should add a fix similar to this. what do you think?

[2020-07-16 09:07] jellisgwn commented on #489
@om26er or 20.7.1 ?

[2020-07-16 09:59] om26er commented on #489
This is now released. Sorry for the delay.

[2020-07-16 09:59] #489 closed

[2020-07-16 10:57] om26er opened #493 "Document release process"
The release process is simple, however it needs to be documented.

[2020-08-03 08:45] Endless-explorer opened #494 "webSocket,onClose,code3reasonAutoPing timed out."
连接后没几秒钟就断了

[2020-08-03 08:47] Endless-explorer commented on #494
我是Android客户端

[2020-08-03 12:49] oberstet commented on #494
sorry, english (or german)?

[2020-08-18 20:46] om26er opened #495 "WAMP Welcome message class missing authid, authrole, authmethod"
That also means the `SessionDetails` object doesn't have that information as well.

[2020-08-18 21:53] #495 closed

[2020-08-21 23:04] om26er opened #497 "Support no param subscribe handlers"
Currently subscribe handlers must have at least one parameter. There are cases where a remote service may "publish" an event with no parameter. ABJ should support that.

[2020-08-22 19:17] #497 closed, assigned to om26er

[2020-09-04 09:23] om26er opened #499 "Update XBR Implementation"
The XBR implementation in Java needs the same treatment as the JS one.

[2020-09-04 10:03] oberstet commented on #499
fwiw, I want to get into ABJ/Java/Android again too;) what dev setup / ide / tools are you using for android/java? what's the "current rage"?

[2020-09-04 22:31] om26er commented on #499
That's great to know :+1:

I use Android Studio to do the development, the good thing about it is that it takes care of installing all the dependencies on its own. if something requires the user input, it will ask for it.

On Ubuntu the easiest way to install Android Studio is through snap (I maintain that ;-)
[code]

OTOH: I spent some time trying to fix/improve the XBR impl and have a PR https:/

[2020-09-05 21:23] om26er commented on #455
They had released a new version a while ago and we have been using that since https://github.com/crossbario/autobahn-java/pull/490

[2020-09-05 21:23] #455 closed

[2020-09-05 21:25] #499 closed

[2020-09-09 12:20] oberstet commented on #499
having these notes (plus maybe a couple of more) in ABJ docs would be great!

eg following https://developer.android.com/studio/run/emulator-acceleration?utm_source=android-studio#vm-linux (which is one step the installation asks for - optional):

[code]

[2020-09-16 21:44] om26er opened #503 "NettyWebSocket transport should not offer compression"
NettyWebSocket offers WebSocket compression, this seems to break our WAMP implementation. After the successful WebSocket handshake, no WAMP messages are delivered to the router.

This puts app code to state where it is stuck forever. The WebSocket ping/pong keeps working hence onDisconnect on the WAMP session side never gets called. Netty doesn't produce any errors at all.

This issue was spotted

[2020-09-16 22:13] #461 closed

[2020-09-16 22:59] oberstet commented on #503
interesting. agree: for now, I think it's good enough to just deactivate compression. in general, I'd be curious what's the root cause / issue here (but I am confident the issue is more likely on nettys side - ABPy/CB is exhaustively tested for WS compression, and used with such eg from ABJS/browsers)

[2020-09-17 11:10] #503 closed

[2020-09-17 12:09] om26er opened #506 "Support annotations to register procedures"
Just like autobahn-python where a function/method can be registered with
[code]
We could develop a similar functionality in autobahn-java. It seems many libraries use that, for example [butter knife](https://github.com/JakeWharton/butterknife#butter-knife) uses a similar technique to bind views in Android.

Same could also be used for subscriptions, obviously.

[2020-09-19 21:49] om26er commented on #494
I am going to close this one as we did not hear back from the original reporter, and the information provided in the report even after translation doesn't really help.

[2020-09-19 21:49] #494 closed

[2020-09-24 14:20] Endless-explorer commented on #494
i have solved this problem ,thanks for reply

[2020-09-25 06:19] sovoereign opened #509 "WebSockets protocol violation"
Trying to connect with WebSocket, Right after connecting socket, the socket getting closed with code `4` and with a message says `WebSockets protocol violation`

[code]

[2020-09-25 08:18] #509 closed

[2020-09-25 08:19] #453 closed

[2020-09-28 20:23] om26er commented on #138
I think we are now at a "good enough" stage with WebSocket tests after the recent performance improvements.

[2020-09-28 20:23] #138 closed

[2020-09-29 13:53] sovoereign opened #510 "My socket is connected and want to receive message continuously?"
I can receive a message when I connect to the socket. Once I connected to the socket, my server responds whenever something happens so how will I receive a message continuously.

[2020-09-29 13:55] om26er commented on #510
If you look at this example https://github.com/crossbario/autobahn-java#websocket-on-android

Everytime your server sends a message, the `onMessage` callback will be called. So in your code, please make sure you have the `onMessage` callback.

[2020-09-29 14:11] sovoereign commented on #510
@om26er  Yes I have onMessage callback, but receiving a response when I connect to the server
[code]

[2020-09-29 15:43] sovoereign commented on #510
`[8,"driver106apikey",{"event":51,"booking":"7A1708ED","message":"Booking #7A1708ED on 29 September - 16:39 was updated. Please check new details."}]`
Receiving this message on the browser, not receiving in socket

[2020-09-29 19:39] entone opened #511 "WAMPCRA Password Salting"
It appears that password salting is not supported for the WAMPCRA authmethod.

Am I missing something?

[2020-09-29 19:47] om26er commented on #511
That is true. But just looked at the code (again), I think it should be pretty straightforward to implement that. I might be able to implement that this week.

[2020-09-29 19:49] om26er commented on #510
Is the websocket server public, maybe I can try to reproduce the issue (and debug, if needed). Is it possible for you to share the websocket URI ?

[2020-09-29 20:58] entone commented on #511
That would be fantastic! Let me know if you need any support/testing whatever.

[2020-09-30 05:32] sovoereign commented on #510
`"wss://dev.ctlf.co.uk/devcall?apiKey=driver106apikey&autoSubscribe=true";`
[https://drive.google.com/file/d/1h_FNRQuhZl1fpfmkG-neIRYs2a0NsC8g/view?usp=sharing](url)
[https://drive.google.com/file/d/1tijCXw0O_sheRXe6ER3dNLQCjMK8nUvw/view?usp=sharing](url)

this link will provide you browser version, i want to receive message continuously, i can send message but not receiving after connection but w

[2020-09-30 08:59] om26er commented on #510
There is something very odd happening here. The server that you are trying to connect talks WAMPv1, this library now only supports WAMPv2. So I'd say this is a lost cause.

[2020-09-30 08:59] #510 closed

[2020-09-30 09:20] om26er commented on #510
To elaborate on that. Autobahn Java only support WAMP protocol version 2. However, the server that you are trying to connect is only talks WAMP protocol version 1. Here is the screenshot of the errors. You can clearly see your server response returns this specific line in its response headers.
[code]
![wamp1](https://user-images.githubusercontent.com/6350837/94667185-e8d7d980-0327-11eb-99e9-5adf5c

[2020-09-30 10:26] sovoereign commented on #510
@om26er  okay got your point, but why does socket connect?

[2020-09-30 11:26] oberstet commented on #510
the websocket opening handshake fails, since the websocket subprotocol negotiation runs into a mismatch. use a wamp2 server or use plain websocket

[2020-10-02 20:05] om26er commented on #511
I have a work in progress pull request here https://github.com/crossbario/autobahn-java/pull/512 -- it is successfully able to derive the correct key (verified), however the signed challenge that we return gets rejected by Crossbar.

[2020-10-02 23:44] #511 closed

[2020-10-26 10:32] magicboylinw opened #515 "Support customize subscribe.options && compatible with null value for type int"
see [https://github.com/crossbario/autobahn-java/pull/514](https://github.com/crossbario/autobahn-java/pull/514)

[2021-01-15 23:10] om26er opened #517 "Move CI to GitHub Actions"
Actions are faster. Mainly need to figure out a way to run Android runtime in Github Actions.

[2021-03-22 12:58] jschmid opened #519 "Autobahn does not comply with Android Strict Mode"
If you try to enable [StrictMode](https://developer.android.com/reference/android/os/StrictMode), specifically [untagged sockets](https://developer.android.com/reference/android/os/StrictMode.VmPolicy.Builder#detectUntaggedSockets()), the app will trigger warnings (or crash if it is configured as such) because of the socket opened by Autobahn.

This is a bit annoying because this prevents us to us

[2021-03-25 06:08] jschmid opened #520 "Feature request: support for Proguard"
It would be nice if the library provided Proguard rules.

Right now, we have to disabled proguard completely for the package to make sure it continues working:

[code]

[2021-03-25 09:11] oberstet commented on #520
would you have a PR we can test?

[2021-04-06 15:14] jellisgwn opened #521 "Bump version and release v21.5.1"
- jackson-dataformat-cbor (com.fasterxml.jackson.dataformat)

https://nvd.nist.gov/vuln/detail/CVE-2020-28491

- multiple issues with netty

[2021-04-06 15:38] om26er commented on #521
I should be able to update the dependencies and put out a new autobahn-java release during this week

[2021-04-07 21:27] om26er opened #522 "JCenter is going away; only publish to Maven Central"
JCenter no longer accepts new releases of software, the existing, published software will continue to be accessible till early 2022. https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

We should update the gradle build config to
1. Remove bintray plugin
2. Add gradle plugin https://github.com/vanniktech/gradle-maven-publish-plugin

[2021-04-19 09:35] jellisgwn commented on #521
hi @om26er, any progress on this?

[2021-04-20 11:06] om26er commented on #521
@jellisgwn sorry for the delay. I have prepared a PR https://github.com/crossbario/autobahn-java/pull/523 which updates the version numbers alongside other changes. However to do a new release I need to fix https://github.com/crossbario/autobahn-java/issues/522 first. I will work on that during the weekend.

[2021-04-20 11:22] jellisgwn commented on #521
@om26er nothing to apologize for :) thanks for the update

[2021-04-23 13:36] oberstet commented on #521
@om26er is there anything else we should do/work on before a new release from your PoV?

[2021-04-23 14:41] om26er commented on #521
@oberstet I need to make some changes in the build gradle so it only uploads to maven central. Should have a PR tomorrow.

[2021-04-24 23:36] oberstet commented on #521
merged via https://github.com/crossbario/autobahn-java/pull/525

[2021-05-05 08:56] oberstet commented on #521
@om26er Q: is there anything more you want to do/merge before a new release? how do I do a maven release?

[2021-05-09 21:20] om26er commented on #521
All the required changes have already landed. Please tag a new release.

The upload procedure to Sonatype is a bit complex as it seems currently only I have access to it (historic reasons). I am going to read a bit more into other ways of doing it, so that it can be collaborated.

[2021-06-25 14:39] jellisgwn commented on #521
Any progress?

[2021-07-07 14:42] om26er commented on #521
@oberstet Can you please tag a new release, then I should be able to upload and publish it. I will then also write the document about publishing to the new location.

[2021-07-08 14:18] oberstet commented on #521
@om26er thanks! ok, I've tagged https://github.com/crossbario/autobahn-java/tree/v21.7.1 and test/build works fine https://gist.github.com/oberstet/9c02d71fa56ad8a8c52ad1fd04bb7df0

@jellisgwn sorry for the sluggish response:( I know. well. fwiw, I am working on a [DAO](https://daohaus.club/) for WAMP that may allow us to make all of this sustainable, aligning interests and resources in the WAMP c

[2021-07-09 07:30] jellisgwn commented on #521
@oberstet thanks for the response.

If here are issues sustaining the project it would be good to get them out in the open and see if a community exists to help out.

[2021-07-09 15:55] Mairuis opened #526 "how to use this library without android? for example, use spring-boot."
how to use this library without android? for example, use spring-boot.

[2021-07-09 15:57] #526 closed

[2021-07-28 23:29] om26er commented on #522
This is done now. Version 21.7.1 is now released.

[2021-07-28 23:29] #522 closed

[2021-07-28 23:30] om26er commented on #521
@jellisgwn The new version is landed now. Sorry it took a while, going forwards I'll make sure to get the releases out quickly

[2021-08-06 14:27] jellisgwn commented on #521
@om26er thanks!

Is there a reason it's not showing as the latest release? I see it's there and pushed to maven but it's not showing as the latest here on GitHub.

[2021-08-06 16:01] om26er commented on #521
Seems like the new tag wasn't pushed. I don't have the permissions to do that, Tobias has.

[2021-08-06 19:07] oberstet commented on #521
@om26er v21.7.1 is here https://github.com/crossbario/autobahn-java/tree/v21.7.1 - what else do you mean?

[2021-08-06 19:10] oberstet commented on #521
does our CI set env var AUTOBAHN_BUILD_VERSION https://github.com/crossbario/autobahn-java/blob/d9a591ca2cbae15dff27a40b4075c48a251c60f3/autobahn/build.gradle#L16 ? from the tag?

[2021-08-06 20:23] om26er commented on #521
I think @jellisgwn is only talking about the new release not showing on the homepage of the project.
![Screenshot_20210807_011749](https://user-images.githubusercontent.com/6350837/128566994-33d3dbe6-9579-4c9b-bf0d-85677d8ddf2d.png)

So that's solely related to `git tag` and `git push`. Though I am not sure why it won't show there...

[2021-08-06 20:27] oberstet commented on #521
aah, ok! not sure, but it seems it required manual release on github (at least this time), which worked:

![Bildschirmfoto von 2021-08-06 22-25-49](https://user-images.githubusercontent.com/233340/128567536-f5ff6598-a0b4-419e-a177-94632aba09da.png)
![Bildschirmfoto von 2021-08-06 22-26-01](https://user-images.githubusercontent.com/233340/128567544-1df6477e-742b-429f-a983-2f225764a1fe.png)

[2021-08-06 20:28] om26er commented on #521
Great, this look good now

[2021-08-09 11:43] jellisgwn commented on #521
Looking good 👍

[2021-08-09 15:53] oberstet commented on #521
@jellisgwn thanks for your patience=) and @om26er thx for you help!

[2021-08-09 15:53] #521 closed

[2021-08-24 22:20] om26er commented on #517
@oberstet I am looking to fix this. Can you tell if you'd want to run the CI on GitHub provided runners or on the self-hosted one ?

[2021-09-07 16:57] om26er opened #531 "Support connection through SOCKS5"
Autobahn Java should be able to connect to crossbar over SOCKS5. Our Java websocket implementation internally uses the Java [Socket class](https://docs.oracle.com/javase/7/docs/api/java/net/Socket.html), which supports passing a Proxy object.

I have briefly played with it and it seems I was able to connect to Crossbar using SOCKS5 proxy from autobahn-java with a few lines of code.

If you @oberst

[2021-09-17 08:00] offroff opened #532 "How do I implement sending continuous updates in a registered procedure?"
We are doing this in another project, written in go. Now we want to do the same in java but I'm not sure if we're able to implement it at all. If it's possible, can you provide an example?

What we want to do is listening to events on some equipment, customer or similar, there's billions of combinations we might be interested in, so I don't think it makes sense to solve this by publishing to topic

[2021-09-22 07:20] ezizrehimov opened #533 "read websocket api json format in Java Desktop App"
How i can  read websocket api json format in Java Desktop App? i added your jar file and tryed this, but this not worked. and this is not import.
My webscoket api url : ws://168.119.56.105/radioapi/ws
[code]

[2021-11-11 14:32] michedsa commented on #531
Hi, can you explain how you did?

[2021-11-11 18:41] om26er commented on #531
@michedsa I haven't had the time to implement it but I did play with it at the time I reported this issue. Basically the change needs to happen at the underlying TCP socket level, mostly here https://github.com/crossbario/autobahn-java/blob/6ab8a3f389c9d46706fd7a41434b0f3ea01d3642/autobahn/src/main/java/io/crossbar/autobahn/websocket/WebSocketConnection.java#L127

I was able to connect to a crossb

[2021-12-09 11:30] ampeixoto opened #536 "Concurrent calls not handled properly"
I detected an issue when trying to make multiple calls concurrently.

Sometimes, if I make 4 concurrent calls to `Session.call()` I would only get 3 responses and worse, sometimes one of the responses was the payload of another procedure...

So I dig into the `autobahn-java` code and noticed the following:
In `Session.java` you have this:
[code]

And in `IDGenerator.java` this:
[code]
As you can s

[2022-01-17 10:05] om26er commented on #536
Are you using threads with autobahn API ? The Session class is designed to be single-threaded. Do you have a real reproducer for that issue ?

[2022-01-17 10:06] om26er commented on #536
For more info please take a look at this issue as well https://github.com/crossbario/autobahn-java/issues/329

[2022-01-17 10:51] oberstet commented on #536
yes, the library was designed for async style (pls see the discussion in the issue Omer linked), and all objects of a given WAMP session must only be accessed from the same thread.

note that this doesn't mean your program has to be single threaded, and you can still use WAMP objects running on an IO thread from different threads (eg UI) using means provided by the run-time (Android) or generally

[2022-01-21 09:34] ampeixoto commented on #536
Thanks for the responses @om26er @oberstet  👍

Although I already implemented the change I mentioned on my fork and so far it looks working fine in a multithreaded environment (I'm using kotlin coroutines).

Do you see any other downside about my solution other than making things a bit slower due to locking? Is there the chance of missing events or something like that?

Also, I would like to sugge

[2022-01-21 09:37] ampeixoto commented on #329
Hi @fhriley .  Do you know if you got any issue using your fork that makes `Session` thread-safe? I have implemented a similar solution, and so far I didn't notice any problem. But I am afraid I could get some subtle bugs in the future due to this change...

[2022-01-21 13:02] oberstet commented on #536
yes, any locking incurs deadlock risks, which you must handle somehow. rgd missed events: I haven't read your fork code .. so not sure. maybe not.

yes, I totally agree. this is actually a pretty important design decision taken in the code. it is opinionated. it must be mentioned in the readme.

[2022-01-21 13:08] oberstet commented on #536
btw, another subtle aspect:

* ABJ is designed - for library users - as a non-locking, non-thread-safe, run-to-completion, single-threaded library
* however, ABJ itself, internally, does use threads! eg network threads for IO on android. this is necessary (on android), and the library uses the android provided facilities for inter-thread message passing

checkout https://github.com/crossbario/auto

[2022-01-21 22:40] fhriley commented on #329
@ampeixoto I abandoned crossbar/autobahn shortly after this. There were other bugs I filed (even really super obvious ones) that they would argue didn't exist. It's been long enough that I have no idea if my fork is good.

[2022-02-28 13:16] AlokRanjanSinghEsper opened #537 "Unable to create a mock of WebSocketConnection"
While writing UnitTest I'm facing this issue while creating a mock of WebSocketConnection class using both mockito and mockk I'm getting this issue

java.lang.ExceptionInInitializerError
	at jdk.internal.reflect.GeneratedSerializationConstructorAccessor12.newInstance(Unknown Source)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
	at org.objenesis.instantiator.sun.Sun

[2022-02-28 15:04] #537 closed

[2022-02-28 15:04] #533 closed

[2022-06-20 02:38] william-ferguson-au opened #538 "Make the min Android API visible on the ReadMe"
It would be *really* useful if the min version of the Android API required for the Autobahn release was prominently displayed on the ReadMe.

I just spent several hours upgrading from the 2014 version of Autobahn to get killed by the Android 24 min API.

[2022-06-20 04:41] william-ferguson-au commented on #538
Near as I can tell

- WebSocket needs a min version of 19
- WAMP needs a min version of 26
- XBR needs a min version of 24 (except that is depends on WAMP)

Might be a good a idea to split it into 3 modules.

[2022-06-20 13:31] oberstet commented on #538
as far as I can see, the min version in the build files (that is the version that has direct technical effect) is **24**

https://github.com/crossbario/autobahn-java/blob/db03f7e878525e358c56c69f200df8e2390d1560/autobahn/build.gradle#L71

so I'm a bit puzzled by what you seem to hint at with "WAMP needs a min version of 26" ..

---

further, "prominently displayed on the ReadMe.": this would resul

[2022-06-21 02:11] william-ferguson-au commented on #538
The minSdkVersion that you declare in the Autobahn build.gradle  is just what you *declare* as the min version required by the library. It's impact is that it forces clients to either upgrade their minSdkVersion to match, explicitly ignore the version declared by Autobahn, or use another library.

It doesn't guarantee that Autobahn actually conforms to that minimum.
But it does allow you to easily

[2022-06-21 08:26] #538 closed

[2022-08-31 03:07] cuijianzhi opened #539 "IllegalStateException: Attempted to take ownership of already-owned FileDescriptor"
when  re-create connection after fail connection [code = 3, reason = WebSockets connection lost].
on Android platform.
[code]

[2022-09-12 17:37] ampeixoto opened #540 "Set max message payload size from Client class"
From what I understand, the field `mMaxMessagePayloadSize` of `WebSocketOptions` is used for the maximum size of a message to be sent, while the field `mMaxFramePayloadSize` is the maximum size of a fragment of the message, in case the message need to be splitted. Is that correct?

If yes, I would like to be able to set `mMaxMessagePayloadSize` to 16MB and `mMaxFramePayloadSize` to something much

[2022-09-14 11:35] ampeixoto commented on #540
@oberstet Any valuable input from your side? Tested on my side and seems to be working as expected.

[2022-09-14 13:33] oberstet commented on #540
yes, correct.

yeah, those values make sense and are practical. well, 16MB on mobile networks of course depends .. but in general that should be just fine

ok, that sounds like it was just accidentally skipped - it should be a tunable knob exposed to users as well. at least that's what I now think without looking into the code;) @om26er what do you think?

[2022-09-30 03:45] #539 closed

[2022-09-30 03:48] cuijianzhi commented on #539
It's my fault.The usage is not correct, multiple threads create the same WebConnection instance at the same time.

[2022-10-01 17:31] ampeixoto commented on #540
@oberstet I am a bit confused by this then. In our fork, I added the field `mMaxMessagePayloadSize` to  `TransportOptions` and it seems it works as expected. So, now I have a `mMaxFramePayloadSize` set to 128KB and a `mMaxMessagePayloadSize` set to 16MB.

Therefore, I would expect that the maximum bytes per message that could be received in a response to a procedure call would be 16MB, but it seem

[2022-10-01 18:38] om26er commented on #540
I agree, that should be configurable and it was an oversight that it isn't today.

Regarding sending large data, my first suggestion would be to use a binary based serializer instead of sending the image as base64. However doing that still doesn't solve the issue where you have a need to send large files. WAMP has a feature called "Progressive calls", however none of the routers out there currentl

[2022-10-02 11:36] ampeixoto commented on #540
@om26er Thanks for the reply!

Regarding the configurable `mMaxMessagePayloadSize`, I get that it was just missed. Clear for me.

What is not so clear is this:
With `mMaxMessagePayloadSize` set to 16MB and mMaxFramePayloadSize set to 128KB, shouldn't the message be received anyway as long as the total amount is smaller than 16MB?
Because that was what I understood that @oberstet confirmed in his r

[2022-10-12 07:02] LLYHMC opened #541 "ANR Input dispatching timed out (Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. Wait queue length: 16. Wait queue head age: 5723.9ms.) java.lang.Object.wait!(Native method)"
java.lang.Object.wait!(Native method)
java.lang.Object.wait(Object.java:407)
java.lang.Thread.join(Thread.java:1290)
java.lang.Thread.join(Thread.java:1366)
io.crossbar.autobahn.websocket.WebSocketConnection.closeWriterThread(WebSocketConnection.java:274)
io.crossbar.autobahn.websocket.WebSocketConnection.failConnection(WebSocketConnection.java:289)
io.crossbar.autobahn.websocket.WebSocketConnecti

[2022-10-12 07:03] LLYHMC commented on #541
Why did it happen

[2022-10-12 09:47] ampeixoto commented on #540
@oberstet @om26er Sorry to bother again, but could you please provide some feedback regarding my questions in my previous comment? Thanks!

[2022-11-02 23:01] novak-dev opened #543 "Closing socket on main thread can throw exception on Android"
I am seeing NetworkOnMainThreadException sometimes when handling close event. I think it happens when there is a pending message in the output stream, it will try to write data to  the socket before its closed and throw this error.
`
10-28 17:12:53.003 20108 20108 E AndroidRuntime: android.os.NetworkOnMainThreadException
10-28 17:12:53.003 20108 20108 E AndroidRuntime: 	at android.os.StrictMode$An

[2022-11-02 23:08] novak-dev commented on #543
Is there a reason why "AndroidThreadMessenger" is attached to main looper? Can it be moved to a dedicated thread?